body {
  background-color: #1b2021;
  color: #eac8af;
  text-align: center;
  width: 70%;
  margin: 5vmin auto;
  }

.card {
  margin: 0 auto 2vmin auto;
  background-color: #eac8af;
  color: #1b2021;
  min-height: 65vmin;
  
}

h1 {
  margin: auto 5vw;
  font-size: 5vmin
}

h2 {font-size: 4vmin}

.tweet {
  text-align: left;
}

a {
   color: white
}

#author,
.quoteBtn {
  text-align: right;
  height: 10vmin
}